/* CSS Custom Properties Definitions */
:root {
  --dark_royalty: #000572;
  --georgia_peach: #ff7070;
  --kantor_blue: #001848;
  --wizard_blue: #0074d9;
  --sky-blue: #E1EDFF;
  --steam-bath: #ccd1da;
  --caribbean-green: #03cea4;
  --white: #ffffff
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  color: var(--color-text);
}

footer {
  padding: var(--spacing-6) var(--spacing-0);
}

hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4 {
  font-family: 'DM Serif Display', serif;
  font-weight: 500;
  color: var(--dark_royalty);
  margin: 0;
}

p {
  font-family: "Roboto", sans-serif;
}

p {
  color: var(--kantor_blue);
  font-size: 18px;
  line-height: 26px;
}


/* Prose */


/* Link */
a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: var(--wizard_blue);
  cursor: pointer;
}


/* Custom classes */

.mb_body_text {
  color: var(--kantor_blue);
  /* margin-top: 32px; */
}

.mb_body_text_24 {
  font-size: 22px;
  line-height: 30px;
}

.section-main-title {
  font-size: 64px;
  line-height: 72px;
}

.section-sec-title {
  font-size: 48px;
  line-height: 56px;
}

.center-text {
  text-align: center;
}

.mt-24 {
  margin-top: 24px;
}

.mb-section-container {
  margin: 100px auto;
}

.mb-section-subcontainer {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.cursive-font {
  font-family: "Daydreami", sans-serif;
}

.mb-unordered-list {
  margin-top: 32px;
}

.mb-list-item {
  position: relative;
  list-style-type: none;
  /* list-style-image: url(../images/icons/mb-check-mark.webp); */
  padding-left: 32px;
  margin-bottom: 16px;
}

.mb-list-item::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 0;
  background-image: url(../images/icons/mb-check-mark.webp);
  background-size: cover;
}

/* Media queries */

@media (width <=1400px) {
  .main-nav_sublinks {
    display: none;
  }
}

@media (width <=1124px) {
  .mb-section-container {
    margin: 60px auto;
  }

  .section-main-title {
    font-size: 46px;
    line-height: 54px;
  }

  .section-sec-title {
    font-size: 38px;
    line-height: 44px;
  }
}

@media (width <=834px) {
  .mb-section-container {
    margin: 40px auto;
  }

  .mb_body_text_24 {
    font-size: 18px;
    line-height: 22px;
  }

  .section-main-title {
    font-size: 30px;
    line-height: 34px;
  }

  .section-sec-title {
    font-size: 26px;
    line-height: 30px;
  }

  .mb-unordered-list {
    margin-top: 24px;
  }
}

@media (width <=667px) {}